local-tmp
dependencies
scripts/win32-dependencies.cmd
dist
dist-*
build
CMakeLists.txt.*
CustomCMakeLists.txt
.*.swp
externals/*/
*~
*.swp
.project
.cproject
certivibe-test-build


#ignore python compile file .pyc
# *.pyc
# *.*~

