local-tmp
dependencies
dependencies_x86
dependencies_x64
scripts/win32-dependencies.cmd
dist
dist-*
build
CMakeLists.txt.*
CustomCMakeLists.txt
.*.swp
externals/*/
*~
*.swp
.project
.cproject

#ignore python compile file .pyc
# *.pyc
# *.*~

modules/doc-tmp/
