local-tmp
dependencies
scripts/win32-dependencies.cmd
dist
dist-*
build
CMakeLists.txt.*
CustomCMakeLists.txt
.*.swp
externals/*/
*~
*.swp

dist.a
scripts/packages/output/*

ctest/tmp_test/*
node_modules
bower_modules
npm-debug.log
build-*.log
