body {
/*	position:relative;*/
	max-width:11in;
	margin:0 auto;
	/*background:url('doc-bg.png') #fff left repeat-y;*/
}

#sidebar {
	display: flex;
	padding-bottom:10px;
	width:100%;
	flex-direction: row;
}

#sidebar > div {
	flex: 1;
}

#sidebar ul {
	padding-left:10px;
}

#sidebar li {
	list-style:none;
}

#sidebar b {
	font-weight:bold;
}
